---
layout: layouts/base.njk
---
<div class="page">
  {% include "partials/hero.njk" %}
</div>

<div class="page">
  <div class="page-break"></div>
  {% include "partials/dedication.njk" %}

  <div class="page-break"></div>
  {% include "partials/toc.njk" %}

  <div class="page-break"></div>
  {% include "sections/introduction.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-1.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-2.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-3.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-3a.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-4.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-5.njk" %}

  <div class="page-break"></div>
  {% include "sections/parents.njk" %}

  <div class="page-break"></div>
  {% include "sections/chapter-6.njk" %}

  <div class="page-break"></div>
  {% include "sections/epilogue.njk" %}

  <div class="page-break"></div>
  {% include "sections/appendix-a.njk" %}

  <div class="page-break"></div>
  {% include "sections/appendix-b.njk" %}

  <div class="page-break"></div>
  {% include "sections/author-bio.njk" %}
</div>
